body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100%;
}

.container {
    background: #ffd791;
    color: black;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.search { 
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background: lightgoldenrodyellow;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: lightgoldenrodyellow;
    color: black;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 100px);
}

button:hover {
    background: #fafad2b0;
}

h1.temp {
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
}

#hourly-forecast {
    margin-top: 50px;
}

#hourly-forecast-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: black;
    margin-bottom: 10px;
}

.hourly-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: black;
    position: absolute;
    top: 0;
    left: 20px;
}